@import '../Variables/variables.scss';


.cases-container {
    width: 540px;
    margin: 80px 100px;
    font-family: 'Roboto', sans-serif;

    h2 {
        font-weight: 700;
        font-size: 36px;
        line-height: 64px;
        width: 500px;
    }

    p {
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 30px;
        margin-top: 20px;
    }

    span {
        text-decoration: line-through;
    }

}

.cases {

    display: flex;
    flex-flow: row wrap;
    width: 100%;


}


.cases-component {
    // flex: 50%;
    padding: 0 100px;
    font-family: 'Roboto', sans-serif;
    width: 524px;
    margin-right: 32px;

    h3 {
        font-weight: 700;
        font-size: 24px;
        line-height: 36px;
        margin-bottom: 16px;


    }

    p {
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 30px;
        letter-spacing: -0.015em;
        margin-bottom: 16px;
        width: 520px;



    }

    p:last-of-type {
        max-width: 524px;

    }

    button {
        font-family: 'Roboto';
        background-color: $white;
        border: 1px solid #C4C4C4;
        color: #343434;
        border-radius: 4px;
        font-weight: 500;
        font-size: 14px;
        line-height: 150%;
        text-transform: uppercase;
        padding: 8px 10px 8px 20px;
        display: flex;
        align-items: center;
        gap: 10px;
        margin-bottom: 80px;
        transition: all 0.9s ease;
        cursor: pointer;


    }

    button:hover {
        border: 1px solid $darkGray;


    }

    .arrow {
        width: 25px;
        position: relative;
        display: inline-block;
        cursor: pointer;
        margin-right: 15px;
        transition: all .4s ease;
    }

    button:hover .arrow {
        width: 35px;
        margin-right: 5px;
    }



}

//***** TABLET MEDIA QUERY ***** //

@media screen and (max-width: 800px) {

    .cases-container {
        margin: 80px 30px;
        width: auto;

        h2 {
            font-weight: 700;
            font-size: 28px;
            line-height: 64px;
            width: auto;
        }
    }

    .cases-component {
        padding: 0 30px;
    }


}


//***** MOBILE MEDIA QUERY ***** //

@media screen and (max-width: 390px) {
    .cases-container {
        h2 {
            font-size: 32px;
        }

        p {
            margin-top: 5px;
        }
    }

    .cases-component {
        button {
            margin-bottom: 40px;
        }
    }
}