@import '../Variables/variables.scss';

.footer {
    border-top: 1px solid #E2E2E2;
    font-family: 'Roboto', sans-serif;

    &__wrapper {
        display: flex;
        justify-content: space-between;
        margin: 80px 100px;
    }

    &__logo {
        font-family: 'Montserrat', sans-serif;
        color: $darkGray;
        font-weight: 800;
        font-size: 24px;
        width: 64px;
        line-height: 23px;
        letter-spacing: -0.015em;


    }

    &__links-wrapper {
        display: flex;
        gap: 75px;


    }

    &__splabs-links {



        h5 {
            font-weight: 400;
            font-size: 16px;
            line-height: 24px;
            margin-top: 13px;
        }

    }

    &__sp-links {
        margin-right: 50px;

        h4 {
            font-style: normal;
            font-weight: 700;
            font-size: 16px;
            line-height: 24px;
            margin-bottom: 13px;
        }

        a {
            text-decoration: none;
            display: flex;
            font-family: 'Roboto', sans-serif;
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            line-height: 24px;
            color: inherit;

        }


    }


    &__credits {
        text-align: center;
        font-family: 'Montserrat', sans-serif;
        font-weight: 400;
        font-size: 15px;
        line-height: 24px;
        padding: 80px;
        border-top: 3px solid $lightGreen;
        margin: 0px 100px;



    }

}

//***** TABLET MEDIA QUERY ***** //

@media screen and (max-width: 800px) {

    .footer {


        &__wrapper {
            margin: 80px 50px;
        }

        &__links-wrapper {
            margin-left: 30px;
            gap: 50px;
        }

        &__credits {
            margin: 0px 50px;
            padding: 80px 0px;
        }
    }
}


//***** MOBILE MEDIA QUERY ***** //

@media screen and (max-width: 390px) {
    .footer {


        &__wrapper {
            display: flex;
            flex-direction: column;
            justify-content: ce;
            margin: 80px auto;
            justify-content: center;
            width: 250px;

        }

        &__logo {
            align-self: center;
            margin-bottom: 64px;
        }


        &__links-wrapper {
            flex-direction: column;

            margin: 0 30px;

            h4 {
                text-align: center;
                margin-left: 0;
            }

            h5 {
                text-align: center;
                // width: max-content;
                justify-content: center;

            }

        }

        &__sp-links {
            margin-right: 0px;

            h4 {
                font-style: normal;
                font-weight: 700;
                font-size: 16px;
                line-height: 24px;
                margin-bottom: 13px;
            }

            a {

                justify-content: center;

            }
        }

        &__credits {
            margin: auto;
            width: 350px;


        }


    }
}