@import '../Variables/variables.scss';

.footer-component {
    border-top: 1px solid #E2E2E2;
    font-family: 'Roboto', sans-serif;

    .footer-wrapper {
        display: flex;
        justify-content: space-between;
        margin: 80px 100px;
    }

    .logo {
        font-family: 'Montserrat', sans-serif;
        color: $darkGray;
        font-weight: 800;
        font-size: 24px;
        width: 64px;
        line-height: 23px;
        letter-spacing: -0.015em;


    }

    .links-wrapper {
        display: flex;
        gap: 75px;

        .splabs-links {


            h4 {
                font-style: normal;
                font-weight: 700;
                font-size: 16px;
                line-height: 24px;
                letter-spacing: 0.015em;
                margin-bottom: 13px;

            }

            h5 {
                font-weight: 400;
                font-size: 16px;
                line-height: 24px;
            }

        }

        .sp-links {
            margin-right: 50px;

            h4 {
                font-style: normal;
                font-weight: 700;
                font-size: 16px;
                line-height: 24px;
                margin-bottom: 13px;
            }

            a {
                text-decoration: none;
                display: flex;
                font-family: 'Roboto', sans-serif;
                font-style: normal;
                font-weight: 400;
                font-size: 16px;
                line-height: 24px;
                color: inherit;
            }
        }
    }


    .credits {
        text-align: center;
        font-family: 'Montserrat', sans-serif;
        font-weight: 400;
        font-size: 15px;
        line-height: 24px;
        padding: 80px;
        border-top: 4px solid $lightGreen;
        margin: 0px 100px;



    }

}