@import '../Variables/variables.scss';

.form-component {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: radial-gradient(25.07% 41.67% at 30.63% 88.91%, #5DFED6 0%, rgba(93, 254, 214, 0) 100%);


    form {
        display: flex;
        flex-direction: column;
        width: 420px;
        margin-top: 64px;
        padding: 32px;
        background: rgba(255, 255, 255, 0.8);
        box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.1);
        border-radius: 8px;
        margin-bottom: 44px;

    }

    h2 {
        font-family: 'Roboto', sans-serif;
        font-size: 36px;
        margin-top: 60px;
    }

    input,
    textarea,
    select {
        font-family: 'Roboto', sans-serif;
        padding: 12px 16px;
        border: 1px solid $lightGray;
        color: $darkGray;
        margin-bottom: 16px;
        border-radius: 4px;

    }

    input:hover,
    textarea:hover,
    select:hover {
        border: 1px solid $Gray;
    }


    input:focus,
    textarea:focus,
    select:focus {
        outline: none;
        border: 1px solid $darkGreen;
    }

    textarea {
        height: 188px;

    }

    select {
        padding-right: 100px;

        appearance: none;
        background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='none' stroke='currentColor' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'%3e%3cpolyline points='6 9 12 15 18 9'%3e%3c/polyline%3e%3c/svg%3e");
        background-repeat: no-repeat;
        background-position: right 1rem center;
        background-size: 24px;
    }



    .checkbox {
        display: flex;

        align-items: flex-start;
    }

    label {
        margin-left: 16px;
        font-family: 'Roboto', sans-serif;
        font-weight: 400;
        font-size: 14px;
        line-height: 150%;
        margin-bottom: 16px;
    }

    input[type=checkbox] {
        background: $darkGray;
        cursor: pointer;
        margin-top: 3px;
    }

}


//***** TABLET MEDIA QUERY ***** //

@media screen and (max-width: 800px) {

    .form-component {
        margin: 0px 30px;
    }
}