@import '../Variables/variables.scss';

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;

    margin: 42px 100px;


    .logo {
        font-family: 'Montserrat', sans-serif;
        color: $white;
        font-weight: 800;
        font-size: 24px;
        width: 64px;
        line-height: 23px;

    }

    li {
        list-style-type: none;
        display: inline-block;
        font-family: 'Roboto', sans-serif;
        color: $white;
        margin-left: 32px;

    }

    li:hover {
        color: $lightGreen;
    }
}