@import '../Variables/variables.scss';

.video-component {
    margin-top: 30px;
    background-color: #F8F8F8;
    display: flex;
    justify-content: center;

    .video-text {
        width: 536px;
        height: 234px;
        margin-left: 100px;
        margin-top: 112px;
        padding-bottom: 0;

    }

    h2 {
        font-family: 'Roboto', sans-serif;
        color: $darkGray;
        font-size: 36px;
        line-height: 152%;
        font-style: bold;
    }

    p {
        font-family: 'Roboto', sans-serif;
        color: $darkGray;
        font-size: 18px;
        line-height: 30px;
        margin-top: 16px
    }

    iframe {
        margin: 80px 100px 80px 48px
    }
}



//***** TABLET MEDIA QUERY ***** //

@media screen and (max-width: 800px) {
    .video-component {
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        justify-content: center;

        .video-text {
            width: auto;
            margin-right: 31px;
            margin-left: 31px;

        }


        h2 {

            width: auto;
            font-size: 32px;
            margin: auto;

        }


        p {
            max-width: 70vh;
        }

        iframe {
            display: flex;
            align-items: center;
            justify-content: center;

            width: 330px;
            height: 191px;

            margin: 32px 31px 80px 31px
        }
    }
}

//***** MOBILE MEDIA QUERY ***** //

@media screen and (max-width: 390px) {
    .video-component {

        .video-text {
            margin-top: 80px;

        }

        h2 {
            line-height: 64px;

        }


        iframe {
            margin-top: 64px;
        }

    }
}